<!DOCTYPE html>
<html ng-app="quickbooks">

<head>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!--Import Angular JS-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
  <!-- Imports of Angular Modules -->
  <!-- Core -->
  <script type="text/javascript" src="./js/main.js"></script>
  <!-- User Modules -->
  <script type="text/javascript" src="./Modules/User/userService.js"></script>
  <script type="text/javascript" src="./Modules/User/featuredBooksService.js"></script>
  <script type="text/javascript" src="./Modules/User/profileService.js"></script>
  <script type="text/javascript" src="./Modules/User/userController.js"></script>
  <script type="text/javascript" src="./Modules/User/followService.js"></script>
  <!-- Homepage Modules -->
  <script type="text/javascript" src="./Modules/Homepage/newBooksService.js"></script>
  <script type="text/javascript" src="./Modules/Homepage/homeController.js"></script>
  <!-- Add Boook Modules -->
  <script type="text/javascript" src="./Modules/addBook/addBookService.js"></script>
  <script type="text/javascript" src="./Modules/addBook/addBookController.js"></script>
  <!-- NavBar Modules -->
  <script type="text/javascript" src="./Modules/NavBar/requests.js"></script>
  <script type="text/javascript" src="./Modules/NavBar/borrowedBooksService.js"></script>
  <!-- Search Modules -->
  <script type="text/javascript" src="./Modules/Search/searchService.js"></script>
  <script type="text/javascript" src="./Modules/Search/searchController.js"></script>
  <!-- SignUp Modules -->
  <script type="text/javascript" src="./Modules/SignUp/signUpService.js"></script>
  <script type="text/javascript" src="./Modules/SignUp/signUpController.js"></script>
  <!-- Login Modules -->
  <script type="text/javascript" src="./Modules/Login/loginController.js"></script>
  <!-- Author Modules -->
  <script type="text/javascript" src="./Modules/Author/authorService.js"></script>
  <script type="text/javascript" src="./Modules/Author/authorController.js"></script>
  <!-- Genre Modules -->
  <script type="text/javascript" src="./Modules/Genre/genreController.js"></script>
  <script type="text/javascript" src="./Modules/Genre/genreService.js"></script>

  <!-- Books Modules -->
  <script type="text/javascript" src="./Modules/Books/showBookController.js"></script>

  <script type="text/javascript" src="./js/Service/borrowService.js"></script>
  <!-- Import of Libraries -->
  <script type="text/javascript" src="./js/Lib/sha.js"></script>
  <script type="text/javascript" src="./js/Lib/sha512.js"></script>



  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="./css/materialize.min.css" media="screen,projection" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style type="text/css">
    html {
      font-family: GillSans, Calibri, Trebuchet, sans-serif;
    }

    ::-webkit-scrollbar {
      display: none;
    }

    *[class*="notify"] {
      text-transform: initial;
    }

    div[ng-show*="side"] {
      margin-left: 10px;
      margin-right: 10px;
    }
  </style>

</head>

<body bgcolor="#212121">
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="./js/materialize.min.js"></script>
  <div ng-controller="baseController">
    <div ng-if="token != null">
      <nav>
        <div class="nav-wrapper teal accent-4">
          <div class="row">
            <div class="col s1">
              <a href="#" class="brand-logo">
                <div>Stanza</div>
              </a>
            </div>
            <div class="col s7 offset-s2">
              <nav>
                <div class="nav-wrapper grey lighten-1">
                  <form>
                    <div class="input-field teal darken-2">
                      <input id="search" placeholder="Search..." type="search" ng-keypress="myFunct($event)" ng-model="toSearch" required>
                      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                      <i class="material-icons">close</i>
                    </div>
                  </form>
                </div>
              </nav>
            </div>
            <!--
            <div class="col s1">
              <div class="row">
                <div class="col s6">
                  <a  class=" waves-effect waves-light tooltipped" ><i class ="material-icons">person</i></a>
                </div>
                <div class="col s6"></div>
              </div>
            </div> -->
          </div>
        </div>
      </nav>
      <div ng-show="!true">
        <a data-activates="slide-out" class="button-collapse"></a>
      </div>
      <div ng-show="navready">
        <ul id="slide-out" class="side-nav fixed teal accent-4">
          <li>
            <div class="user-view">
              <div class="row valign-wrapper">
                <div class="col s6">
                  <a ng-click="openUser();" href="" class="tooltipped" data-position="down" data-delay="50" data-tooltip="Your profile"><img class="circle responsive-img" ng-src="{{picture}}" ></a>
                </div>
                <div class="col s6">
                  <div class="row">
                    <a><span class="white-text flow-text email">{{name}}</span></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <div class="side-navContainer" style="height: 500px;overflow: scroll;line-height: 30px;">
            <li>
              <div style="line-height:35px;">
                <div class="row">
                  <div class="col s6">
                    <div class="row center-align">
                      <div class="col s3 center-align">
                        <div ng-show="side_mine_selected">
                          <a ng-click="getSentRequests(); side_mine_selected = !side_mine_selected; side_user_selected = false; side_borrow_selected = false; side_lent_selected = false;" class="waves-effect waves-light tooltipped" data-position="down" data-delay="50" data-tooltip="Requests you have sent"><i class = "material-icons white-text text-darken-3">input</i></a>
                        </div>
                        <div ng-show="!side_mine_selected">
                          <a ng-click="getSentRequests(); side_mine_selected = !side_mine_selected; side_user_selected = false; side_borrow_selected = false; side_lent_selected = false;" class="waves-effect waves-light tooltipped" data-position="down" data-delay="50" data-tooltip="Requests you have sent"><i class = "material-icons grey-text text-darken-3 ">input</i></a>
                        </div>
                      </div>
                      <div class="col s3 center-align">
                        <div ng-show="side_user_selected">
                          <a ng-click="getUserRequests(); side_user_selected = !side_user_selected; side_mine_selected = false; side_borrow_selected = false; side_lent_selected = false;" class="modal-trigger waves-effect waves-light tooltipped" data-position="down" data-delay="50"
                            data-tooltip="Requests others have sent you"><i class = "material-icons white-text text-darken-3 ">move_to_inbox</i></a>
                        </div>
                        <div ng-show="!side_user_selected">
                          <a ng-click="getUserRequests(); side_user_selected = !side_user_selected; side_mine_selected = false; side_borrow_selected = false; side_lent_selected = false;" class="modal-trigger waves-effect waves-light tooltipped" data-position="down" data-delay="50"
                            data-tooltip="Requests others have sent you"><i class = "material-icons grey-text text-darken-3 ">move_to_inbox</i></a>
                        </div>
                      </div>

                      <div class="col s3 center-align">
                        <div ng-show="side_borrow_selected">
                          <a ng-click="getBorrowedBooks(); side_borrow_selected = !side_borrow_selected; side_user_selected = false; side_mine_selected = false; side_lent_selected = false;" class="modal-trigger  waves-effect waves-light tooltipped" data-position="down" data-delay="50"
                            data-tooltip="Status of books you have borrowed"><i class = "material-icons white-text text-darken-3 ">book</i></a>
                        </div>
                        <div ng-show="!side_borrow_selected">
                          <a ng-click="getBorrowedBooks(); side_borrow_selected = !side_borrow_selected; side_user_selected = false; side_mine_selected = false; side_lent_selected = false;" class="modal-trigger  waves-effect waves-light tooltipped" data-position="down" data-delay="50"
                            data-tooltip="Status of books you have borrowed"><i class = "material-icons grey-text  text-darken-3 ">book</i></a>
                        </div>
                        <!-- Status of books borrowed and option to return books -->
                      </div>
                      <div class="col s3 center-align">
                        <div ng-show="side_lent_selected">
                          <a ng-click="getLentBooksStatus(); side_lent_selected = !side_lent_selected; side_borrow_selected = false; side_mine_selected = false; side_user_selected = false;" class="modal-trigger waves-effect waves-light tooltipped" data-position="down" data-delay="50"
                            data-tooltip="Status of your books"><i class = "material-icons white-text text-darken-3 ">import_contacts</i></a>
                        </div>
                        <div ng-show="!side_lent_selected">
                          <a ng-click="getLentBooksStatus(); side_lent_selected = !side_lent_selected; side_borrow_selected = false; side_mine_selected = false; side_user_selected = false;" class="modal-trigger waves-effect waves-light tooltipped" data-position="down" data-delay="50"
                            data-tooltip="Status of your books"><i class = "material-icons grey-text text-darken-3 ">import_contacts</i></a>
                        </div>
                        <!-- Status of your books -->
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-show="side_mine_selected">
                  <div ng-show="sentrequests.length == 0">
                    <div class="center-align blue-grey darken-4 teal-text text-accent-4 name">You have not sent any requests</div>
                  </div>
                  <div ng-show="sentrequests.length > 0">
                    <section class="teal darken-2">
                      <div ng-repeat="request in sentrequests">
                        <div class="center-align white-text name">You have sent a request to {{request.Lender}} for</div>
                        <div class="center-align">
                          <div class="notify blue-grey darken-4 teal-text text-accent-4 name flow-text"><b>{{request.Book}}</b></div>
                        </div>
                        <div class="center-align" ng-show="request.Status == 0">
                          <div class="center-align grey-text lighten-3  name flow-text"><b>Status: Not Responded</b></div>
                        </div>
                        <div class="center-align" ng-show="request.Status == 1">
                          <div class="center-align teal-text text-accent-3 name">
                            <h5><b>Status: Accepted</b></h5>
                          </div>
                        </div>
                        <div class="center-align" ng-show="request.Status == 2">
                          <div class="center-align red-text text-darken-1 name">
                            <h5><b>Status: Declined</b></h5>
                          </div>
                        </div>
                        <div class="divider"></div>
                      </div>
                    </section>
                  </div>
                </div>
                <div ng-show="side_user_selected">
                  <div ng-show="requests.length == 0">
                    <div class="center-align blue-grey darken-4 teal-text text-accent-4 name">
                      You have not received any requests
                    </div>
                  </div>
                  <div ng-show="requests.length > 0">
                    <section class="teal darken-2">
                      <div ng-repeat="request in requests">
                        <div class="card-title center-align white-text name">{{request.Borrower}} has requested for </div>
                        <div class="center-align">
                          <div class="notify blue-grey darken-4 teal-text text-accent-4 name flow-text"><b>{{request.Book}}</b></div>
                        </div>

                        <div ng-show="replysuccess(request.URID)">
                          <div class="card-content center-align">
                            <div class="notify waves-effect waves-light blue-grey darken-4 teal-text text-accent-4">You have responded to this request</div>
                          </div>
                        </div>
                        <div ng-show="!replysuccess(request.URID)">
                          <div class="card-content">
                            <div class="row">
                              <div class="col s3">
                                <a ng-click="ReplyUserRequests(1, request)" class="notify waves-effect btn waves-darken hoverable teal accent-4">Accept</a>
                              </div>
                              <div class="col s3 offset-s3">
                                <a ng-click="ReplyUserRequests(2, request)" class="notify waves-effect btn waves-light red darken-4">Decline</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="divider"></div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div style="line-height:35px;">
                <div ng-show="side_borrow_selected">
                  <div ng-show="borrowedbooks.length == 0">
                    <div class="card-title blue-grey darken-4 teal-text text-accent-4 center-align">You have not borrowed any books</div>
                  </div>
                  <div ng-show="borrowedbooks.length > 0">
                    <section class="teal darken-2">
                      <div ng-repeat="book in borrowedbooks">
                        <div class="center-align">
                          <div class="notify blue-grey darken-4 teal-text text-accent-4 name flow-text"><b>{{book.Bookname}}</b></div>
                        </div>
                        <div class="card-title white-text center-align">Was borrowed from {{book.Lender}} on {{book.borrowDate}}</div>
                        <div ng-show="returnreqsuccess(book.UBOID)">
                          <div class="card-content center-align">
                            <div class="row">
                              <div class="col s9 offset-s1">
                                <div class="notify waves-effect waves-light white grey-text text-lighten-1">You have requested to return this book</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div ng-show="!returnreqsuccess(book.UBOID)">
                          <div class="card-content center-align" ng-show="book.Outstanding == 1 && book.ReturnRequest == 0">
                            <a ng-click="returnBorrowedBook(book)" class="notify waves-effect btn teal accent-4 ">Return book</a>
                          </div>
                          <div class="card-content center-align" ng-show="book.Outstanding == 1 && book.ReturnRequest == 1">
                            <div class="notify grey-text text-lighten-1">{{book.Lender}} has yet to responded to your request</div>
                          </div>
                          <div class="card-content center-align" ng-show="book.Outstanding == 0">
                            <div class="notify teal-text text-accent-2">You have already returned this book</div>
                          </div>
                        </div>
                        <div class="divider"></div>
                      </div>
                    </section>
                  </div>
                </div>
                <div ng-show="side_lent_selected">
                  <div ng-show="lentbooks.length == 0">
                    <div class="card-title center-align blue-grey darken-4 teal-text text-accent-4">You have not lent any books</div>
                  </div>
                  <div ng-show="lentbooks.length > 0">
                    <section class="teal darken-2">
                      <div ng-repeat="book in lentbooks">
                        <div class="center-align">
                          <div class="notify blue-grey darken-4 teal-text text-accent-4 name flow-text"><b>{{book.Bookname}}</b></div>
                        </div>
                        <div class="card-title white-text center-align">Was lent to {{book.Borrower}} on {{book.borrowDate}}</div>
                        <div ng-show="takebacksuccess(book.UBOID)">
                          <div class="card-content center-align">
                            <div class="row">
                              <div class="col s9 offset-s1">
                                <div class="notify waves-effect waves-light white grey-text text-lighten-1">You have accepted to take back the book</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div ng-show="!takebacksuccess(book.UBOID)">
                          <div class="card-content center-align" ng-show="book.Outstanding == 1 && book.ReturnRequest == 0">
                            <div class="notify grey-text text-lighten-1 text-accent-4">{{book.Borrower}} has yet to return this book</div>
                          </div>
                          <div class="card-content center-align" ng-show="book.Outstanding == 1 && book.ReturnRequest == 1">
                            <div class="notify teal-text text-accent-4">{{book.Borrower}} has requested you to take your book back</div>
                            <a ng-click="takeBackBook(book)" class="notify btn waves-effect hoverable teal accent-4">Take back book</a>
                          </div>
                          <div class="card-content center-align" ng-show="book.Outstanding == 0">
                            <div class="notify teal-text text-accent-4">You have taken this book back</div>
                          </div>
                        </div>
                        <div class="divider"></div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </li>
          </div>
        <!--
          <div class="Logout">
            <div class="row">
              <div class="col s1 offset-s12"><a ng-click="logout()" class="center-align waves-effect btn-large white-text">Logout</a></div>
            </div>
          </div> -->


        </ul>
        <div class="fixed-action-btn left-align" style="left: 23px; right: auto;">
          <a ng-click="addBook()" class="modal-trigger waves-effect waves-light btn btn-large hoverable btn-floating teal darken-3">
            <i class = "material-icons">add</i>
           </a>
        </div>
      </div>
    </div>
  </div>
  <!-- All partial HTMLs load here -->

  <div ng-view></div>
  </div>

</body>

</html>
