<div ng-controller="searchController">
    <div class="section grey lighten-2">
        <div class="container">
            <div class="row">
                <div class="col s8 offset-s2">
                    <ul class="collection">
                        <div ng-repeat="book in books">
                            <li class="collection-item avatar">
                                <img src="Images/books.jpeg" alt="" class="circle">
                                <span class="title"><a href="#">{{book.item.title}}, {{book.item.year}}</a></span>
                                <p>Written by :<a href="" ng-click="openAuthor(book.item.author)">{{book.item.author}}</a></p>
                                <p>Genre : <a href="" ng-click="openGenre(book.item.genre)">{{book.item.genre}}</a></p>
                                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                            </li>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
