<script type="text/javascript" src="">
    document.getElementsByTagName('body')[0].style = "";
</script>
<div class="spinner" ng-show="loading">
    <link rel="stylesheet" type="text/css" href="css/loading.css" />
    <div id="loader" bgcolor="#ffffff">
        <img id="dot" class="dots_r" src="Images/loading/dot.svg" />
        <img id="dot1" class="dots_r" src="Images/loading/dot1.svg" />
        <img id="dot2" class="dots_r" src="Images/loading/dot2.svg" />
        <img id="dot3" class="dots_r" src="Images/loading/dot3.svg" />
        <img id="dot4" class="dots_r" src="Images/loading/dot4.svg" />
        <img id="dot5" class="dots_r" src="Images/loading/dot5.svg" />
        <img id="dot6" class="dots_r" src="Images/loading/dot6.svg" />

        <img id="dot7" class="dots_l" src="Images/loading/dot7.svg" />
        <img id="dot8" class="dots_l" src="Images/loading/dot8.svg" />
        <img id="dot9" class="dots_l" src="Images/loading/dot9.svg" />
        <img id="dot10" class="dots_l" src="Images/loading/dot10.svg" />
        <img id="dot11" class="dots_l" src="Images/loading/dot11.svg" />
        <img id="dot12" class="dots_l" src="Images/loading/dot12.svg" />
        <img id="dot13" class="dots_l" src="Images/loading/dot13.svg" />
        <img id="book" src="Images/loading/book.png" />
    </div>
</div>

<div class="section grey darken-4" ng-show="page">
    <div ng-switch on="view">
        <div ng-switch-when="books">
            <div class="container">
                <div ng-repeat="row in books">
                    <div class="row">
                        <div ng-repeat="book in row">
                            <div ng-if="book.uuid != null">
                                <div class="col s4 offset">
                                    <div class="card large">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator responsive-img" ng-src="{{book.image}}">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title activator grey-text text-darken-4"><a href = "" ng-click = "openBook(book)">{{book.bookname}}</a><i class="material-icons right">more_vert</i></span>
                                            <p>Author: <a href="" ng-click="openAuthor(book.author)">{{book.author}}</a>, {{book.year}}</p>
                                            <p>Genre: <a href="" ng-click="openGenre(book.genre)">{{book.genre}}</a></p>
                                            <p>Owned By: <a href="" ng-click="openUser(book)">{{book.username}}</a></p>
                                            <p>
                                                <!--   <input id="lenderId" type="hidden" ng-model="llenderId" value="{{book.uuid}}"> 
                                <input id="bookId" type="hidden" ng-model="lbookId" value="{{book.ubid}}"> -->

                                                <a ng-click="borrow(book)" id="borrowBtn" class="waves-effect waves-teal btn teal accent-4">Borrow this Book</a>

                                            </p>
                                        </div>
                                        <div class="card-reveal">
                                            <span class="card-title grey-text text-darken-4"><h5>{{book.bookname}}</h5> <i class="material-icons right">close</i></span>
                                            <div>
                                                <h6>Published year: {{book.year}}</h6>
                                            </div>
                                            <div>
                                                <h6> By: {{book.author}} </h6>
                                            </div>
                                            <div>
                                                <h6>Genre: {{book.genre}} </h6>
                                            </div>
                                            <p>Description: {{book.description}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s1 offset-s1"></div>
                            </div>
                        </div>
                        <!--
                        <div class="col s4 offset-s2">
                            <div class="card large">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator responsive-img" ng-src="{{book.image}}">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4"><a href = "" ng-click = "openBook(book)">{{book.bookname}}</a><i class="material-icons right">more_vert</i></span>
                                    <p>Author: <a href="" ng-click="openAuthor(book.author)">{{book.author}}</a>, {{book.year}}</p>
                                    <p>Genre: <a href="" ng-click="openGenre(book.genre)">{{book.genre}}</a></p>
                                    <p>Owned By: <a href="" ng-click="openUser(book)">{{book.username}}</a></p>
                                    <p>
                                        <!--   <input id="lenderId" type="hidden" ng-model="llenderId" value="{{book.uuid}}"> 
                                <input id="bookId" type="hidden" ng-model="lbookId" value="{{book.ubid}}">

                                        <a ng-click="borrow(book)" id="borrowBtn" class="waves-effect waves-teal btn teal accent-4">Borrow this Book</a>

                                    </p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4"><h5>{{book.bookname}}</h5> <i class="material-icons right">close</i></span>
                                    <div>
                                        <h6>Published year: {{book.year}}</h6>
                                    </div>
                                    <div>
                                        <h6> By: {{book.author}} </h6>
                                    </div>
                                    <div>
                                        <h6>Genre: {{book.genre}} </h6>
                                    </div>
                                    <p>Description: {{book.description}}</p>
                                </div>
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fixed-action-btn left-align" style="left: 23px; right: auto;">
    <a ng-click="addBook()" class="modal-trigger waves-effect waves-light btn btn-large hoverable tooltipped btn-floating teal darken-3" data-tooltip="Add your books">
        <i class = "material-icons">add</i>
     </a>
</div>
