<!-- Nav Bar -->
<div class="spinner" ng-show="loading">
    <link rel="stylesheet" type="text/css" href="css/loading.css" />
    <div id="loader">
        <img id="dot" class="dots_r" src="Images/loading/dot.svg" />
        <img id="dot1" class="dots_r" src="Images/loading/dot1.svg" />
        <img id="dot2" class="dots_r" src="Images/loading/dot2.svg" />
        <img id="dot3" class="dots_r" src="Images/loading/dot3.svg" />
        <img id="dot4" class="dots_r" src="Images/loading/dot4.svg" />
        <img id="dot5" class="dots_r" src="Images/loading/dot5.svg" />
        <img id="dot6" class="dots_r" src="Images/loading/dot6.svg" />

        <img id="dot7" class="dots_l" src="Images/loading/dot7.svg" />
        <img id="dot8" class="dots_l" src="Images/loading/dot8.svg" />
        <img id="dot9" class="dots_l" src="Images/loading/dot9.svg" />
        <img id="dot10" class="dots_l" src="Images/loading/dot10.svg" />
        <img id="dot11" class="dots_l" src="Images/loading/dot11.svg" />
        <img id="dot12" class="dots_l" src="Images/loading/dot12.svg" />
        <img id="dot13" class="dots_l" src="Images/loading/dot13.svg" />
        <img id="book" src="Images/loading/book.png" />
    </div>
</div>
<div style="background-color:#eeeeee; !important" ng-show="loginPage">
    <div ng-controller="loginController">
        <nav>
            <div class="nav-wrapper grey darken-4">
                <a href="#" class="brand-logo">
                    <div class="row">
                        <div class="col s1">
                            <div>Quickbooks</div>
                        </div>
                    </div>
                    </p>
                </a>

                <ul class="right hide-on-med-and-down">
                    <li>
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s5 offset-s1 grey darken-4">
                                    <input id="email" placeholder="Email" type="email" class="validate" ng-model="lEmail" required autofocus>
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field col s5 offset-s1 grey darken-4">
                                    <input id="password" type="password" ng-model="lPassword" class="validate" required>
                                    <label for="password"><div class="white-text">Password</div></label>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li><a ng-click="login()" id="loginBtn" class="btn waves-effect waves-teal orange accent-4">Login</a></li>

                </ul>
            </div>
        </nav>
        <!-- End of Nav Bar-->

        <!--Sign Up card-->
        <div class="row">
            <div class="col s4 offset-s4">
                <div class="card white">
                    <div class="card-panel hoverable">
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4">Create an account</span>
                            <div class="card-title grey-text text-darken-4">
                                <h6></h6>
                            </div>
                        </div>
                        <div class="card-action">
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="signupname" type="text" ng-model="sName" class="validate">
                                            <label for="signupname">Name</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <input id="signupemail" type="email" ng-model="sEmail" class="validate">
                                            <label for="signupemail">Email</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <input id="signuppassword" type="password" ng-model="sPword" class="validate">
                                            <label for="signuppassword">Password</label>
                                        </div>

                                        <div class="input-field col s12">
                                            <input id="confirmpassword" type="password" ng-model="sConfirmpword" class="validate">
                                            <label for="confirmpassword">Confirm Password</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button class="btn waves-effect waves-light orange accent-4" ng-click="signup()">Submit<i class="material-icons right">send</i></button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <script>
            // Intialisation
            (".button-collapse").sideNav();
        </script>
        <footer class="page-footer grey darken-4">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12 grey darken-4">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    &copy 2017 Quickbooks

                </div>
            </div>
        </footer>
    </div>
</div>
